---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans", "source-han-sans-traditional", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgba(0,0,0,0.64);
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$tint-color:       #6BA42E;
$tint-color-highlighted:    darken($tint-color, 15%);


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.banner{
	height:512px;
	background:url(../assets/images/banner_art.png) no-repeat center center;
	background-size:cover;
	overflow: hidden;
    text-align: center;
    margin-top:104px;
}

.banner>div{
    display:inline-block;
    margin-top:109px;
}

div#logo>div{
    margin-top:12px;
    margin-bottom:12px;
    text-align: center;
}

ul.nav>li>a{
    line-height: 68px;
    
}

#options li>a, #langs li>a{
    color:$tint-color;
    &:hover{
        color:$tint-color-highlighted;
    }
}

a, a.btn-link{
    color:$tint-color;
    &:hover{
        color:$tint-color-highlighted;
    }
}

.job>a{
    min-height: 270px;
    margin-bottom: 48px;
    display: block;
    border-radius: 12px;
    border: 1px #dedede solid;
    padding: 75px 35px 31px;
    text-decoration: none;
}

.job>a h2{
    color:$tint-color;
}

.job>a p{
    color:$text-color;
}

p{
    color:$text-color;
}

.title{
    height: 240px;
    background: url(../assets/images/job_banner_designer1.png) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.title h2{
    color: white;
    font-size: 40px;
    padding-top: 137px;
    background: url(../assets/images/icon_paint.png) no-repeat center center;
    font-weight: lighter;
}

h3{
    margin: 32px 0 27px;
    font-size: 24px;
    color: #4B6F24;
    font-weight: bolder;
}

.content{
    padding-top: 48px;
    padding-bottom: 20px;
}

h1{
    font-size: 40px;
    color: #969696;
    line-height: 59px;
    margin: 43px 0 34px;
    text-align: center;
    font-weight: lighter;
}

#about{
    margin-top:15px;
}