<footer class="site-footer">

  <div class="wrapper">

    <a class="btn btn-lg btn-link center-block" id="company" href="http://unigreen.io/">unigreen.io</a>
    <div class="center-block" id="infos-box">
      <ul id="infos">
        <li><a href="https://www.google.com.tw/maps/place/110%E5%8F%B0%E5%8C%97%E5%B8%82%E4%BF%A1%E7%BE%A9%E5%8D%80%E4%BF%A1%E7%BE%A9%E8%B7%AF%E4%BA%94%E6%AE%B57%E8%99%9F%E5%8F%B0%E5%8C%97101%E5%A4%A7%E6%A8%93/@25.0339043,121.5639614,19z/data=!3m1!4b1!4m2!3m1!1s0x3442abb6da9c9e1f:0x1206bcf082fd10a6">100 台北101大樓42樓CD室</a></li>
        <li><a href="tel://+886227653341">+886 (0) 2 2765 3341</a></li>
      </ul>

    </div>


  </div>

</footer>
